.imageBox {
    width: 150px;
    height: 150px;
}

img {
    width: 150px; 
    margin: 3px;
}

.card{
    margin: 5px;
    padding: 7px;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.2);
    max-width: 175px;
    display: inline-block;
}

.row{
    text-align: center;
}